@tailwind base;
@tailwind components;
@tailwind utilities;

.count-animate {
  font-weight: medium;
  text-xl: 2;
  animation-name: countAnimation;
  animation-duration: 4s;
}
@keyframes countAnimation {
  100% {
    content: "4000+";
  }
}
.mt-item {
  margin-top: 4.1rem;
}
.border-1px {
  border-top-width: 1px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
